/* [project]/src/components/navigation/Nav.module.css [app-client] (css) */
.Nav-module__CBhHSW__checkbox {
  display: none;
}

.Nav-module__CBhHSW__button {
  position: relative;
  background-color: #fff;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  position: fixed;
  top: 5vh;
  right: 5vw;
  z-index: 2000;
  box-shadow: 0 .5rem 2rem #000;
  text-align: center;
  cursor: pointer;
}

.Nav-module__CBhHSW__background {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  position: fixed;
  top: 5.5vh;
  right: 5.5vw;
  background-image: radial-gradient(#a4a4a4, #000);
  z-index: 1000;
  transition: transform .8s cubic-bezier(.86, 0, .07, 1);
}

.Nav-module__CBhHSW__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -60vw;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all .8s;
}

.Nav-module__CBhHSW__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.Nav-module__CBhHSW__item {
  margin: 1rem;
  font-size: 36px;
}

.Nav-module__CBhHSW__link:link, .Nav-module__CBhHSW__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, #0000 0% 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s;
}

.Nav-module__CBhHSW__link:hover, .Nav-module__CBhHSW__link:active {
  color: #8f8f8f;
  cursor: pointer;
}

.Nav-module__CBhHSW__checkbox:checked ~ .Nav-module__CBhHSW__background {
  transform: scale(80);
}

.Nav-module__CBhHSW__checkbox:checked ~ .Nav-module__CBhHSW__nav {
  opacity: 1;
  width: 100%;
  right: 0;
}

.Nav-module__CBhHSW__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Nav-module__CBhHSW__icon, .Nav-module__CBhHSW__icon:before, .Nav-module__CBhHSW__icon:after {
  width: 2rem;
  height: 2px;
  background-color: gray;
  display: inline-block;
}

.Nav-module__CBhHSW__icon:before, .Nav-module__CBhHSW__icon:after {
  content: "";
  position: absolute;
  left: 0;
  transition: all .2s;
}

.Nav-module__CBhHSW__icon:before {
  top: -.8rem;
}

.Nav-module__CBhHSW__icon:after {
  top: .8rem;
}

.Nav-module__CBhHSW__button:hover icon:before {
  top: -1rem;
}

.Nav-module__CBhHSW__button:hover icon:after {
  top: 1rem;
}

.Nav-module__CBhHSW__checkbox:checked + .Nav-module__CBhHSW__button .Nav-module__CBhHSW__icon {
  background-color: #0000;
}

.Nav-module__CBhHSW__checkbox:checked + .Nav-module__CBhHSW__button .Nav-module__CBhHSW__icon:before {
  top: 0;
  transform: rotate(135deg);
}

.Nav-module__CBhHSW__checkbox:checked + .Nav-module__CBhHSW__button .Nav-module__CBhHSW__icon:after {
  top: 0;
  transform: rotate(-135deg);
}


/* [project]/src/components/ActionRevealSection.scss.css [app-client] (css) */
/* unparseable [project]/src/components/ActionRevealSection.scss.css [app-client] (css) */

/*# sourceMappingURL=src_components_17aca929._.css.map*/
